@model Bookish.Web.Models.BookViewModel

<div>
    <h2>Title: @Model.Title Number available in the Library: @Model.Copies</h2>
    @Html.ActionLink("Rent A Copy", "RentBook", "Home", new { titleId = @Model.TitleId, titleName = @Model.Title }, null)

</div>

<div class="container">
<div class="row">
@foreach (var item in Model.Borrowed)
{

    <div class="col-md-3">
        <p class="book-rows">Borrowed by: @item.EmailAddress</p>
    </div>
    <div class="col-md-3">
        <p class="book-rows">Due to be return: @item.DueDate.ToShortDateString()</p>
    </div>
}
            </div>
        </div>

