@using System.Web.UI.WebControls
@using Bookish.Web.Controllers
@using PagedList.Mvc;
@model PagedList.PagedList<Bookish.DataAccess.DataModels.BookTitle>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")  
            <input type="submit" value="Search" /></p>
    }

</div>
<div>
    @foreach (var title in Model)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="book-rows">Book: @title.Title</p>
                </div>
                <div class="col-md-3">
                    <p class="book-rows">Author: @title.Author</p>
                </div>
                <div class="col-md-3">
                    <p class="book-rows">ISBN: @title.Isbn</p>
                </div>
                <div class="books">
                    @*<Button value="@title.TitleId">More Info</Button>*@
                    @Html.ActionLink("More Info", "BookDetails", "Home", new { titleId = @title.TitleId, title = @title.Title }, null)
                </div>
            </div>
        </div>
    }
</div>
    @Html.PagedListPager(Model, page => Url.Action("Library",
        new { page, pageSize = Model.PageSize}))
    showing @Model.FirstItemOnPage to @Model.LastItemOnPage
    of @Model.TotalItemCount Titles

